[Unit]
Description="Change wallpaper based on indicated time by systemd timer"

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/home/%u/bin/wallpaper-changer.sh $RANDOM'
Restart=on-failure
